.productbox {
    background-color:#000;
	padding:10px;
	margin-bottom:10px;
    border:1px solid;
}

.producttitle {
    font-weight:bold;
	padding:5px 0 5px 0;
}

.productprice {
	border-top:1px solid #dadada;
	padding-top:5px;
}

.pricetext {
	font-weight:bold;
	font-size:1.4em;
}

.modal .modal-header {
  border-bottom: none;
  position: relative;
    color:#000;
}
.modal .modal-header .btn {
  position: absolute;
  top: 0;
  right: 0;
  margin-top: 0;
  border-top-left-radius: 0;
  border-bottom-right-radius: 0;
    color:#000;
}

.modal .modal-body {
    color:#000;
}
.modal .modal-footer {
  border-top: none;
  padding: 0;
    color:#000;
}
.modal .modal-footer .btn-group > .btn:first-child {
  border-bottom-left-radius: 0;
    color:#000;
}
.modal .modal-footer .btn-group > .btn:last-child {
  border-top-right-radius: 0;
    color:#000;
}