
<!-- Web.Config Configuration File -->

<configuration>
    <system.web>
        <customErrors mode="Off" />
    </system.web>
    <system.webServer>
        <rewrite>
            <rules>
                <rule name="Imported Rule 1" enabled="true" stopProcessing="true">
                    <match url="^Wiki/(.*)$" ignoreCase="false" />
                    <action type="Rewrite" url="/mediawiki/index.php?title={R:1}" appendQueryString="true" />
                </rule>
                <rule name="Imported Rule 2" stopProcessing="true">
                    <match url="^Wiki/*$" ignoreCase="false" />
                    <action type="Rewrite" url="/mediawiki/index.php" appendQueryString="true" />
                </rule>
                <rule name="Imported Rule 3" stopProcessing="true">
                    <match url="^.*$" ignoreCase="false" />
                    <conditions logicalGrouping="MatchAny">
                        <add input="{URL}" pattern="^/stats/(.*)$" ignoreCase="false" />
                        <add input="{URL}" pattern="^/failed_auth.html$" ignoreCase="false" />
                    </conditions>
                    <action type="None" />
                </rule>
                <rule name="Imported Rule 4">
                    <match url="^([A-Z][A-Za-z]*)$" ignoreCase="false" />
                    <action type="Rewrite" url="/{R:1}.php" />
                </rule>
            </rules>
        </rewrite>
    </system.webServer>
</configuration>