/***************
***STYLES.CSS***
***************/


#supportcontent
{
    background-color:#7a7a7a;
    text-align:justify;
    font-size:16px;
    color:#FFF;
    margin-top:0px;
    padding:10px;
}

#content{
    background-color:#7a7a7a;
    text-align:center;
    font-size:16px;
    color: #FFF;
    margin:0px;
    padding:10px;
}

#gradient{
    text-align:center;
    /*margin-left:200px;
    margin-right:200px;*/
    background-image: -webkit-gradient(
	linear,
	left top,
	left bottom,
	color-stop(0, #FFFFFF),
	color-stop(0.62, #5A5A5A)
);
background-image: -o-linear-gradient(bottom, #FFFFFF 0%, #7A7A7A 62%);
background-image: -moz-linear-gradient(bottom, #FFFFFF 0%, #7A7A7A 62%);
background-image: -webkit-linear-gradient(bottom, #FFFFFF 0%, #7A7A7A 62%);
background-image: -ms-linear-gradient(bottom, #FFFFFF 0%, #7A7A7A 62%);
background-image: linear-gradient(to bottom, #FFFFFF 0%, #7A7A7A 62%);
}

#footer
{
    text-align:center;
}

#flip
{
    width:200px;
    padding-left:15px;
background-color:#000;
color:#9a9a9a;
}

#panel
{
    color:#FFF;
padding:50px;
    display:none;
}

/*.nav
{
    justify-content:center;
    text-align:center;
    width:700px;
    height:45px;
    background-color:#000;
    color:#5a5a5a;
    font-size:14px;
    margin-left:300px;
}

.nav a
{
    text-decoration:none;
}

.nav a:hover
{
    color:#FFFFFF;
}

.nav ul{
    list-style-type:none;
}

.nav ul li{
    float:right;
    position:relative;
}

.nav ul li a{
    text-align:center;
    display:block;
    text-decoration:none;
    color:#5a5a5a;
    padding:15px;
}

.nav ul li ul{
    display:none;
    color:#5a5a5a;
}

.nav ul li:hover ul{
    display:block;
    position:absolute;
    color:#5a5a5a
}

.nav ul li:hover ul li a{
    display:block;
     color:#FFF;
     text-align: center;
}*/