/***************
***STYLES.CSS***
***************/


#supportcontent
{
    background-color:#7a7a7a;
    text-align:justify;
    font-size:16px;
    color:#FFF;
    margin-top:0px;
    padding:10px;
    font-family:sans-serif;
}

#content{
    background-color:#7a7a7a;
    text-align:center;
    font-size:16px;
    color: #FFF;
    margin:0px;
    padding:10px;
    font-family:sans-serif;
}

#gradient{
    text-align:center;
    /*margin-left:200px;
    margin-right:200px;*/
    background-image: -webkit-gradient(
	linear,
	left top,
	left bottom,
	color-stop(0, #FFFFFF),
	color-stop(0.62, #5A5A5A)
);
background-image: -o-linear-gradient(bottom, #FFFFFF 0%, #7A7A7A 62%);
background-image: -moz-linear-gradient(bottom, #FFFFFF 0%, #7A7A7A 62%);
background-image: -webkit-linear-gradient(bottom, #FFFFFF 0%, #7A7A7A 62%);
background-image: -ms-linear-gradient(bottom, #FFFFFF 0%, #7A7A7A 62%);
background-image: linear-gradient(to bottom, #FFFFFF 0%, #7A7A7A 62%);
}

#footer
{
    text-align:center;
}

#flip
{
    width:200px;
    padding-left:15px;
background-color:#000;
color:#9a9a9a;
}

#panel
{
    color:#FFF;
padding:50px;
    display:none;
}

.contact-form {
    margin-top:70px;
}