/* Programing Slide thingy */
.panel
{
margin: 0px;
padding: 5px;
text-align: left;
background: #002s74;
border: solid 1px #002s74;
}

.flip
{
margin:0px;
padding:5px;
text-align:center;
background: #002s74;
border:solid 1px #002s74;
}

.panel
{
height:120px;
display:none;
}

#videobox {
width: 320px;
height: auto;
}

/*Sponsors.php*/
#banner {
	background:#0065B3;
	width: 100%;
	color: #FFFFFF; 
	border-top-right-radius: 3px; 
	border-top-left-radius: 3px
}

#simages {
width: 100%; 
background-color: white; 
margin-top: -16px; 
padding-bottom: 20px
}

#sponsor1 {
position:relative;
height:236px;
top:10px;
}

#sponsor2 {
position:relative;
height:154px;
top:10px;
}

#sponsor3 {
position:relative;
height:158px;
top:10px;
}

#sjcp {
width:430px;
padding:10px;
display:block;
position:absolute;
top:50%;
margin-top:-50px;
left:0px;
height:100px;
}

#snasa {
width:430px;
padding:10px;
display:block;
position:absolute;
top:50%;
margin-top:-118px;
right:0px;
height:236px;
}

#saet {
width: 450px;
position: absolute;
display: block;
left: 0px;
top: 50%;
margin-top: -77px;
height: 154px;
}

#ssmc {
width: 450px;
display: block;
height: 142px;
position: absolute;
right: 0px;
top: 50%;
margin-top: 65px;
}

#sreell {
width: 450px;
position: absolute;
display: block;
left: 0px;
height: 158px;
top: 50%;
margin-top: -79px;
}

#smpapa {
width: 450px;
position: absolute;
display: block;
right: 0px;
height: 118px;
top: 50%;
margin-top: -59px;
}

.NASA {
width:100%
}

.smc {
width:40%
}

.jcpenney {
width:40%
}

.aetrium {
width:40%
}

.reel {
width:40%
}

.mpapa {
width:40%
}

#floatMenu {
	position: fixed;
	color: white;
	margin-left: -25px;
	margin-top: -34px;
	width: 240px;
	z-index: 1;
	text-align: left;
	padding-left: 10px;*/
}
 
#floatMenu ul {  
    margin-bottom:20px;  
	list-style-type: none;
	padding:5px 5px 5px 0px;
} 

#floatMenu ul li a {  
    display:block;   
    background-color: black;    
    text-decoration:none;  
    color:white;  
    padding:5px 5px 5px 0px; 
}
 /*Bios.php*/
 #slideTo {
	list-style-type: none;
 }